@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
 :root {
    --White: hsl(0, 0%, 100%);
    --x-Light-red: hsl(356, 100%, 66%);
    --Light-red: hsl(353, 100%, 62%);
    --Grayish-blue: hsl(240, 2%, 79%);
    --Very-light-pink-red: hsl(355, 100%, 74%);
    --Very-light-red: hsl(13, 100%, 72%);
    --Very-dark-blue: hsl(208, 49%, 24%);
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
    /* color: var(--Very-dark-gray-blue);
    color: var(--Very-dark-black-blue);
    color: var(--Very-dark-grayish-blue);
    color: var(--Very-dark-desaturated-blue); */
}

* {
    margin: 0;
    padding: 0;
    Font-size: 16px;
    font-family: 'Overpass', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    text-align: center;
}

select {
    background: none;
    border: none;
    width: 15px;
    color: hsl(0deg 0% 89%);
}

.margin-from-left {
    padding-left: 140px;
}

.margin-from-right {
    padding-right: 140px;
}

.show_it {
    transform: translateX(0%) !important;
}

.container {
    padding: 60px 140px 140px 140px;
}

.header-section {
    /* max-width: 100%; */
    /* width: 100%; */
    min-height: 100%;
    background-image: url('img/bg-pattern-intro.svg'), linear-gradient(to right bottom, var(--Very-light-red), var(--Light-red));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0% 0% 0% 6% / 0% 0% 0% 16%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: var(--White);
}

.header-section nav {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-section nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    transform: translateX(-150px);
    z-index: 1;
}

.header-section nav ul li {
    list-style: none;
    margin: 0 20px;
    color: var(--Grayish-blue);
    z-index: 1;
}

.header-section nav ul li label {
    color: hsl(0deg 0% 89%);
    z-index: 1;
}

.header-img {
    overflow: hidden;
}

.header-img img {
    position: absolute;
    top: -88%;
    right: 0px;
    width: 100%;
    height: auto;
    z-index: 0;
}

#burger {
    display: none;
    z-index: 1;
}

.nav-btns-in-navbar {
    display: none;
    z-index: 1;
}

.nav-btn {
    color: var(--White);
    border: none;
    background: none;
    border-radius: 18px;
    cursor: pointer;
    height: 34px;
    width: 86px;
    font-weight: bold;
    background: var(--Very-light-pink-red);
    transition: all .5s ease;
    z-index: 1;
}

.nav-btn:hover {
    color: var(--Light-red);
    background: var(--White);
    z-index: 1;
}

.header-section .content {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header-section .content h1 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 20px;
    font-family: 'Overpass', sans-serif;
    text-align: center;
    z-index: 1;
}

.header-section .content p {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 20px;
    color: hsl(0deg 0% 89%);
    text-align: center;
    z-index: 0;
}

.header-btn {
    color: var(--White);
    border: none;
    background: none;
    border-radius: 18px;
    cursor: pointer;
    height: 38px;
    width: 136px;
    font-weight: bold;
    background: var(--Very-light-pink-red);
    transition: all .5s ease;
    z-index: 1;
}

.header-btn:hover {
    color: var(--Light-red);
    background: var(--White);
    z-index: 1;
}

.second-section {
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: var(--Very-dark-blue);
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

.second-section h1 {
    width: 100%;
    font-size: 30px;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.second-section .content {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.second-section .content .left-side {
    flex: 1 0 50%;
    margin-top: 38px;
}

.second-section .content .left-side .card {
    height: auto;
    max-width: 84%;
}

.second-section .content .left-side .card h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.second-section .content .left-side .card p {
    line-height: 1.6;
    font-size: 17px;
}

.second-section .content .left-side #card-1 {
    margin-bottom: 50px;
}

.second-section .content .right-side {
    flex: 1 0 50%;
    transform: translateX(120px);
    margin-bottom: 100px;
}

.second-section .content .right-side img {
    max-width: 575px;
    height: auto;
}

.third-section {
    margin-top: 50px;
    /* max-width: 100%; */
    /* width: 100%; */
    min-height: 100%;
    background-image: linear-gradient(to right bottom, var(--Very-dark-black-blue), var(--Very-dark-gray-blue));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: var(--White);
    border-radius: 0% 9% 0% 9% / 0% 16% 0% 14%;
    /* z-index: -3; */
}

.third-section .content {
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.third-section .content .left-img {
    flex: 1 0 70%;
    max-height: 400px;
}

.third-section .content .left-img img {
    max-width: 740px;
    transform: translateY(-50%);
    transform: translate(8%, -13%);
    z-index: 1;
}

.third-section .content .right-content {
    flex: 1 0 30%;
    transform: translateX(-70px);
    min-width: 39%;
}

.third-section .content .right-content h1 {
    font-size: 30px;
}

.third-section .content .right-content p {
    margin-top: 36px;
    line-height: 1.4;
}

.header-img-3rd-section {
    display: none;
}

.header-img-3rd-section img {
    display: none;
    position: absolute;
    top: 1294px;
    overflow: hidden;
    width: 550px;
    z-index: -1 !important;
}

.fourth-section {
    margin-top: 50px;
    /* max-width: 100%; */
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: var(--Very-dark-blue);
    font-family: 'Overpass', sans-serif;
    overflow-x: hidden;
}

.fourth-section .content {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.fourth-section .content .left-side-img {
    flex: 1 0 50%;
}

.fourth-section .content .left-side-img img {
    width: 800px;
    transform: translateX(-84px);
}

.fourth-section .content .right-side-content {
    flex: 1 0 50%;
}

.fourth-section .content .right-side-content .card {
    margin-bottom: 30px;
}

.fourth-section .content .right-side-content .card h1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.fourth-section .content .right-side-content .card p {
    margin-bottom: 5px;
    font-size: 15px;
}

footer {
    padding: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    background: var(--Very-dark-black-blue);
    border-radius: 0% 10% 0% 0% / 0% 46% 0% 0%;
    list-style: none;
    color: hsl(0deg 0% 42%) !important;
}

footer .topper {
    color: var(--White) !important;
    margin-bottom: 40px;
}

footer li {
    font-size: 17px;
    margin-bottom: 8px;
}

@media (max-width:1028px) {
    .header-section nav ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        transform: translateX(0px);
    }
    .container {
        padding: 60px 100px 140px 100px;
    }
    .third-section .content .right-content {
        flex: 1 0 30%;
        transform: translateX(0px);
        min-width: 40%;
    }
    .fourth-section .content .left-side-img {
        flex: 1 0 40%;
    }
    .fourth-section .content .right-side-content {
        flex: 1 0 60%;
        transform: translateX(-34px);
    }
    .fourth-section .content .right-side-content .card {
        margin-bottom: 30px;
        width: 80%;
    }
}

@media (max-width:900px) {
    #navbar {
        position: absolute;
        top: 104px;
        left: 0;
        right: 0;
        height: 100vh;
        background: white;
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: #ff3838;
        transform: translateX(-200%);
        transition: all 0.6s ease;
        z-index: 10;
    }
    .header-section nav ul li {
        list-style: none;
        margin: 20px 0px;
        color: var(--Grayish-blue);
        z-index: 11;
    }
    .header-section nav ul li label {
        color: hsl(5deg 100% 70%);
        font-size: 25px;
        z-index: 12;
    }
    .nav-btn {
        color: var(--White);
        border: none;
        background: none;
        border-radius: 18px;
        cursor: pointer;
        height: 50px;
        width: 120px;
        font-weight: bold;
        background: var(--Very-light-pink-red);
        transition: all .5s ease;
    }
    .nav-btns-in-navbar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 32px;
    }
    .nav-btns-in-navbar button {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .nav-btns {
        display: none;
    }
    #burger {
        display: block;
    }
    .margin-from-left {
        padding-left: 0px;
    }
    .margin-from-right {
        padding-right: 0px;
    }
    .second-section {
        margin-bottom: 160px;
        height: 100%;
    }
    .second-section .content {
        max-width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
    .second-section .content .left-side {
        order: 2;
        display: flex;
        width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .second-section .content .right-side {
        order: 1;
        transform: translateX(0px);
        margin-bottom: 0px;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
    .second-section .content .right-side img {
        max-width: 575px;
        height: auto;
        width: 75%;
    }
    .second-section .content .left-side .card h2 {
        font-size: 30px;
        margin-bottom: 8px;
    }
    .second-section .content .left-side .card p {
        line-height: 1.6;
        font-size: 18px;
    }
    .third-section .content {
        margin: 0;
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }
    .third-section .content .right-content {
        transform: translateX(0px);
        width: 40%;
        margin-top: 62px;
        margin-bottom: 150px;
    }
    .third-section .content .right-content h1 {
        font-size: 40px;
    }
    .third-section .content .left-img img {
        max-width: 740px;
        transform: translateY(-18%);
    }
    .third-section .content .right-content p {
        margin-top: 36px;
        line-height: 1.4;
        font-size: 20px;
    }
    .fourth-section {
        margin-bottom: 100px;
    }
    .fourth-section .content {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .fourth-section .content .left-side-img img {
        width: 700px;
        transform: translateX(-34px);
    }
    .fourth-section .content .right-side-content {
        transform: translateX(0px);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .fourth-section .content .right-side-content .card {
        margin-bottom: 30px;
        width: 60%;
    }
    .fourth-section .content .right-side-content .card h1 {
        margin-bottom: 40px;
        font-size: 44px;
    }
    .fourth-section .content .right-side-content .card p {
        margin-bottom: 5px;
        line-height: 1.6;
        font-size: 24px;
    }
    footer {
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    footer .topper {
        margin-bottom: 20px;
        color: var(--White)
    }
    footer li {
        font-size: 17px;
        margin-bottom: 10px;
    }
    .first-col,
    .second-col,
    .third-col,
    .forth-col {
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
}

@media (max-width:800px) {
    .header-section {
        margin-bottom: 100px;
    }
    .container {
        padding: 40px 30px 100px 30px;
    }
    .second-section .content .left-side {
        width: 78%;
    }
    .second-section .content .left-side .card h2 {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .third-section {
        width: 100%;
        min-height: 100%;
        background-image: linear-gradient(to right bottom, var(--Very-dark-black-blue), var(--Very-dark-gray-blue));
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        border-radius: 0% 9% 0% 9% / 0% 16% 0% 14%;
    }
    .third-section .content .left-img {
        flex: 1 0 70%;
        max-height: 268px;
    }
    .fourth-section .content .right-side-content .card {
        margin-bottom: 90px;
        width: 77%;
    }
    .fourth-section .content .left-side-img {
        flex: 1 0 40%;
        width: 82%;
    }
    .fourth-section .content .right-side-content .card h1 {
        margin-bottom: 40px;
        font-size: 40px;
    }
    .third-section .content .left-img img {
        max-width: 340px;
        transform: translateY(-18%);
    }
    .third-section .content .right-content {
        transform: translateX(0px);
        width: 85%;
        margin-top: 62px;
        margin-bottom: 150px;
    }
    .third-section .content {
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fourth-section .content .left-side-img img {
        width: 435px;
        transform: translateX(-60px);
    }
    footer {
        padding: 40px 0px;
    }
}

@media (Max-width:500px) {
    .header-img {
        overflow: hidden;
    }
    .header-img img {
        position: absolute;
        top: 16%;
        right: -53px;
        width: 135%;
        height: auto;
        z-index: 0;
    }
}

@media (max-width:400px) {
    .header-img-3rd-section img {
        position: absolute;
        top: 253vh;
        overflow: hidden;
        width: 550px;
        z-index: -1 !important;
    }
}